.header {
    top: 0;
    width: 100%;
    padding: 0 135px;
    margin-bottom: 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 18px;
    border-bottom: 1px solid #847E7E;
}
.left {
    display: flex;
    column-gap: 105px;
}
.left a svg {
    width: 98px;
    height: 84px;
}
.left div {
    width: max-content;
    display: flex;
    column-gap: 75px;
    align-items: center;
    justify-content: space-between;
}
.left div a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #555252;
    padding-bottom: 11px;
}
.active {
    border-bottom: 2px solid #847E7E;
}
.right {
    display: flex;
    column-gap: 62px;
    align-items: center;
}
.right form {
    position: relative;
    width: 270px;
    height: 40px;
    z-index: 10;
}
.right form input,
.right form>a {
    position: absolute;
}
.right form input {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 15px;
    padding: 10px 40px 10px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #555252;
}
.right form>a {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.right form ul {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    list-style: none;
    margin-top: 29px;
    background: #fff;
    padding: 15px 0 15px 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
    z-index: 9;
}
.right form ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
