.basket {
    width: 100%;
    height: 100vh;
    padding: 0 135px;
    margin-bottom: 100px;
}
.baskets {
    width: 100%;
    padding: 50px 25px;
    border-top: 3px solid #847E7E;
    border-bottom: 3px solid #847E7E;
}
.baskets ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
    list-style: none;
}
.text h3 {
    font-size: 24px;
    line-height: 29px;
}
.text p {
    font-size: 18px;
    line-height: 22px;
}
.baskets__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baskets__inner img {
    height: 96px;
}
.baskets__inner h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FDDB16;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    background: #FFFFFF;
    border: 1px solid #847E7E;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #847E7E;
    box-sizing: border-box;
}
.counter button {
    border: none;
    outline: none;
    width: max-content;
    background: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.counter button:first-child {
    padding: 10px 0 10px 16px;
}
.counter button:last-child {
    padding: 10px 18px 10px 0;
}
.size {
    cursor: default;
    padding: 10px 27px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #FFFFFF;
    border: 1px solid #847E7E;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-user-select: none;

}
hr{
    border-bottom: 502px;
    border-radius: 10px;



}
.info{
    Width:181px;
    Height :22px;
    Top :456px;
    Left :133px;
    margin-top: 51px;
    border-bottom: 100px;
}
.info h1{
    Width:181px;
    Height :22px;
    Top :456px;
    Left :133px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #847E7E;

}
.formaInput div {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}
.Forma {
    margin-top: 40px;
}
.Forma  {
    width: 400px;
    height: 51px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.formaInput {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    height: 51px;
    border-radius: 15px;
    padding-left: 17px;
    border: 1px solid #C4C4C4;
    flex-shrink: revert;
}
.info button {

    background: #FDDB16;
    width: 450px;
    height: 80px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    border: none;
    position: absolute;
    right: 134px;
    margin-top: 66px;
}
.minePlex {
    display: flex;
    width: 1170px;
    justify-content: space-between;
}
.info hr {
    height: 0;
    margin-top: 50px;
    width: calc(100vw - 135px * 2);
    background: rgb(132, 126, 126);
    border: 1.5px solid rgb(132, 126, 126);
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    width: 746px;
    height: 448px;
    padding: 50px 0 66px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    transform: translate(calc(50vw - 50%), 111px);
}
.modal h3,
.modal p {
    width: 444px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #746D6D;
}
.modal div button {
    width: 314px;
    margin-top: 46px;
    border: none;
    outline: none;
    padding: 20px 0;
    background-color: #FDDB16;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.modal div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal svg {
    animation: linear animate .2s;
    transition: .3s;
}
.clicker {
    display: flex;
    flex-direction: column;
    row-gap: 43px;
    margin-right: 346px;
}
.about h3 {
    font-weight: 500;
    size: 18px;
    line-height:22px;
    color: #847E7E;
}
@keyframes animate {
    0% {
        transform: scale(.5) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
@media screen and (max-width: 1000px){
    .basket {
        padding: 0 15px;
    }
    .baskets__inner {
        flex-wrap: wrap;
    }
    .Forma div input {
        width: 290px;
    }
    .info hr {
        width: calc(100vw - 15px * 2);
    }
    .info button {
        right: 15px;
    }
}
@media screen and (max-width: 768px){
    .info button {
        width: 310px;
        height: 68px;
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 415px){
    .baskets__inner {
        column-gap: 25px;
    }
    .Forma {
        width: max-content;
    }
}
@media screen and (max-width: 360px){
    .info button {
        width: calc(100vw - 15px * 2);
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}
